/* src/App.css */

body {
  background-image: linear-gradient(to bottom, rgb(2, 2, 51), rgb(25, 84, 104));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Prevent scrollbars from appearing */
}

h1 {
  color: rgb(49, 18, 103); /* Orange color for titles */
  font-size: 2rem; /* Responsive font size */
  text-transform: uppercase; /* Transform text to all uppercase */
  font-weight:700;
  
}

input, select, button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem; /* Responsive font size */
}

button {
  background-color: #007bff; /* Blue background for button */
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
  box-shadow: 0 0 20px rgb(4, 129, 164); /* Glowing effect on hover */
}

select {
  background-color: white;
  cursor: pointer;
}

/* Enhanced style for the container */
.draggable-container {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Deeper shadow for more depth */
  border: 2px solid transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #5a0bae, #2575fc);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center; /* Center text inside the container */
  max-width: 90%; /* Responsive width */
  max-height: 90%;
  margin: 20px; /* Add some margin for spacing */
  transition: box-shadow 0.5s ease-in-out; /* Smooth transition for hover effect */
}

.draggable-container:hover {
  box-shadow: 0 0 20px 10px rgb(4, 129, 164); /* Glowing effect on hover */
}

/* Style for placeholder text */
input::placeholder {
  font-size: 0.70rem; /* Change this value to adjust the placeholder font size */
  color: #888; /* Optional: Change the color of the placeholder text */
}

/* Responsive design */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }


  input, select, button {
    font-size: 0.9rem;
    padding: 8px;
  }

  .draggable-container {
    padding: 15px;
    max-width: 95%;
  }
  
  
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  input, select, button {
    font-size: 0.8rem;
    padding: 6px;
  }

  .draggable-container {
    padding: 10px;
    max-width: 100%;
  }
}